@import "./colors.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container *,
.container {
  transition: all 0.5s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  padding: 20px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
.nav {
  padding: 0;
  display: inline-block;
}
.nav-link {
  text-decoration: none;
  margin: 0 15px;
  display: inline-block;
  list-style: none;
}
.text-truncate {
  text-overflow: ellipsis;
}
.card {
  margin: 0 5px;
  width: 300px;
  height: 350px;
  border-radius: 5px;
  display: inline-grid;
  align-items: center;
  justify-content: center;
}

.card:hover {
  background-color: #66666610;
}
.card .image {
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  display: grid;
  font-size: 3rem;
  margin: 5px;
  border-radius: 3px;
  margin: 0 0 10px 0;
}
.card-title {
  font-size: 1rem;
  margin: 5px;
  font-weight: 600;
}
.card-subtitle {
  font-size: 0.875rem;
  margin: 5px;
}

.inline-list {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.inline-list .list-item {
  display: inline;
  margin: 0 2px 0 0;
}
.link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.link:hover {
  scale: 105%;
}

.float-right {
  float: right;
}
.switcher-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 32px;
  border: none;
  border-radius: 5px;
}

.player {
  position: fixed;
  bottom: 0;
  display: grid;
  width: 100vw;
}

.player .controls {
  display: grid;
  justify-self: center;
  align-items: center;
}
.control-button {
  margin: 0 5px;
  font-size: 0.8rem;
}
.progress {
  width: 200px;
  padding: 5px;
  border-radius: 50px;
}
.progress-bar {
  border: 2px solid blue;
  border-radius: 50px;
}
